body
{
	width: 100%;
	background-color: white;
	margin: 0;

	font-family: Arial, sans-serif;
	font-size: 100%;
}

.TopRibbon
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 5em;
	background-color: #add8e6;
	border-bottom: 0.1em solid black;
}
.TopRibbon .Home
{
	height: 80%;
	display: flex;
	justify-content: center;
	align-content: center;
}
.TopRibbon .Home a
{
	height: 100%;
	margin-left: 1.5em;
	font-size: 1.5em;
	text-decoration: none;
	font-weight: bold;
	color: black;

	background-color:#FCA17D;
	border-radius: 3em;
	padding-left: 0.3em;
	padding-right: 0.3em;
}
.TopRibbon .Home h2
{
	font-size: 0.95em;
	text-align: center;
	line-height: 100%;
}
.TopRibbon .Home:hover a{background-color: #ce8061;}

.TopRibbon .dropbtn
{
	background-color: #04AA6D;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	border-radius: 20px;
}
.TopRibbon .dropdown
{
	position: relative;
	display: inline-block;
}
.TopRibbon .dropdown_content
{
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.TopRibbon .dropdown_content a
{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
/* Change color of dropdown links on hover */
.TopRibbon .dropdown_content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.TopRibbon .dropdown:hover .dropdown_content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.TopRibbon .dropdown:hover .dropbtn {background-color: #3e8e41; border-radius: 0px;}

#empty
{
	content: '.';
	visibility: hidden;

	height: 100%;
	width: 40%;
	border: solid green;
}

.Introduction
{
	display: flex;
	flex-direction: column;
	justify-content: center;

	/* Make different sizes for PC / mobile*/
	height: 43em;	/*Change when there is enough text to use the whole image*/
	width: 100%;

	background-image: url("technology-background-white.png");
}

.Introduction .Text
{
	min-width: 400px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border: 0.3em solid black;
	border-radius: 20px;
}

.Introduction .Text h1
{
	margin-top: 0.5em;
	margin-left: 1.5em;
	margin-right: 1.5em;
	font-size: 5em;
}

.Introduction .Text p
{
	margin-left: 1.5em;
	margin-right: 1.5em;
	margin-bottom: 1em;

	font-family: Arial, sans-serif;
	font-size: 2em;
}

/*Projects*/

.Section_Title
{
	display: flex;
	justify-content: center;
	flex-direction: column;

	height: 15em;
	background-color: #add8e6;
}

.Section_Title h2
{
	font-size: 3em;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

/* .project_descriptions
{
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
} */

.project_descriptions
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}

.project_descriptions .Text
{
	width: 800px;
	border: 20px solid #F8FA90;
    border-radius: 20px;
}
.project_descriptions .Text a
{
	text-align: center;
	color: black;
	text-decoration: none;
}
.project_descriptions .Text a h2
{
	font-size: 2em;
}

.project_descriptions .Image
{
	width: 500px;
}

.project_descriptions .Image img
{
	align-self: center;
	width: 100%;
	border: 20px solid #F8FA90;
    border-radius: 20px;
}

.project_descriptions .SignalGen
{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
	background-color: #FCA17D;
	border-top: solid black;
	border-bottom: solid black;
}

.project_descriptions .ChessClock
{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
	background-color: #D2ECF5;
	border-bottom: solid black;
}

.project_descriptions .Tricorder
{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
	background-color: #FCA17D;
	border-bottom: solid black;
}