body
{
	width: 100%;
	background-color: white;
	margin: 0;

	font-family: Arial, sans-serif;
	font-size: 100%;
}

.TopRibbon
{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 5em;
	background-color: #add8e6;
	border-bottom: 0.1em solid black;
}
.TopRibbon h2
{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 1em;
}

.Introduction
{
	display: flex;
	flex-direction: column;
	justify-content: center;

	/* Make different sizes for PC / mobile*/
	height: 43em;	/*Change when there is enough text to use the whole image*/
	margin-left: auto;
	margin-right: auto;

	background-image: url("technology-background-white.png");
}

.Introduction .Text
{
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	border: 0.3em solid black;
	border-radius: 20%;

	text-align: center;
}

.Introduction .Text h1
{
	margin-top: 0.5em;

	font-size: 5em;
}

.Introduction .Text p
{
	margin-left: 1.5em;
	margin-right: 1.5em;
	margin-bottom: 1em;

	font-family: Arial, sans-serif;
	font-size: 2em;
}

/*Projects*/

.Section_Title
{
	display: flex;
	justify-content: center;
	flex-direction: column;

	height: 15em;
	background-color: #add8e6;
}

.Section_Title h2
{
	font-size: 3em;
	width: 4em;
	margin-left: auto;
	margin-right: auto;
}

.project_descriptions
{
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.project_descriptions table
{
	width: 100%;
}

.project_descriptions .Text h2
{
	font-size: 2em;
}

.project_descriptions .Image
{
	width: 30%;
}

.project_descriptions .Image img
{
	width: 100%;
}

.project_descriptions .SignalGen
{
	background-color: #FCA17D;
}

.project_descriptions .ChessClock
{
	background-color: #D2ECF5;
}

.project_descriptions .Tricorder
{
	background-color: #FCA17D;
}