.About img.mechanical_pic
{
    max-width: 500px;
    max-height: 500px;
    width: auto;
    height: auto;
}

.About img.electrical_pic
{
    max-width: 500px;
    max-height: 500px;
    width: auto;
    height: auto;
}

.About img.electrical_gallery
{
    max-width: 500px;
    max-height: 500px;
    width: auto;
    height: auto;
}